using System;
using System.Collections.Generic;
using Minshara;


namespace otiose.processor {

    [Flags]
    public enum ComponentFlag {
{%- for component in ComponentFlagsSchema.component_schema_list %}
        {{ component.name }} = {{ component.ID }}{% if not loop.last %},{% endif %}
{%- endfor %}
    }



}